
* {
    box-sizing: border-box;
    text-decoration: none;
}

body {
    margin: 0;
    background-color: whitesmoke;
  }

/* header */

.navdiv { 
    background-color: #2a2a2a;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}

.logo {
    width: 150px;
  }

  

li {
    list-style: none;
    display: inline-block;
}

li a{
    color: white;
    font-size: 18px;
    font-weight: 600;
    margin-right: 25px;
}

button {
    background-color: #4cbc85;
    margin-left: 10px;
    border-radius: 10px;
    border-color: #53bf86;
    border-style: solid;
    padding: 5px;
    width: 90px;


}

button a{
    color: black;
    font-weight: bold;
    font-size: 15px;
}

/* nav bottom */
.navbottom {
    background-color: #545454;
    height: 22px;
    padding: 1px;
    padding-left: 10px;
    
  }
  
 
  
  /* end bottom */



/* end header */


/* game-box */


.game-box {
  background-color: #D3D3D3;
  width: 1400px;
  height: 600px;
  margin: 0 auto;
  margin-top: 100px;
  border-radius: 5px;
  max-width: fit-content;
  max-height: fit-content;
  
  
  
}

.row-box {
  display: flex;
	
}

.game-card {
  padding-top: 10px;
  margin: 10px;
  width: 375px;
  height: 550px;
  border-radius: 5px;
  background-color: #545454;
  text-align: center;
  
}


.game-name {
  color: white; 
  font-weight: bold;
  font-size: 25px;
}

.game-poster {
  width: 300px;
  height: 400px;
 
}

.game-price{
  color: white;
  font-weight: 600;
  position: absolute;
  text-align: left;
  padding-left: 40px;
  

}
  
.img-card {
  width: 40px; 
  height: 40px;
  
  }

.carrinho-button {
  background: transparent;
  border: none;
  position: relative;
  cursor: pointer;
  text-align: right;
  padding-left: 220px;
  

}

/* end game-box */


/* game-sinopse */

.sinopse-card {
  
  background-color: #545454;
  width: 800px;
  height: 550px;
  border-radius: 5px;
  margin:10px;

  
  
}

.game-sinopse {
  color: white;
  font-size: 20px;
  text-align: left;
  text-overflow: ellipsis;
  
  padding-left: 50px;
  padding-right: 140px;
  
}

.trailer {
  padding-top: 10px;
  padding-left: 50px;
  
}

/* end game-sinopse*/



/* footer */


.navfooter {
  position: fixed;
  background-color: #545454;
  align-items: center;
  justify-content: center;
  display: flex;
  height: 20px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
  
}

.foot-text {
  color: white;
  font-size: 18px;
  font-weight: 600;
  
}

/* end footer */