/* *{
   width: 100%; 
} */
.logo{
    width: 170px;
}
.slide{
    width: 50%;
    margin: 150px;
}
.carrinho{
    margin: 20px;
    width:auto
}
.carrinho img{
    width: 50px;
}

/* Card */
.product-card {
    position: relative;
    margin: 20px;
}
.cart-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: transparent;
    border: none;
}
.cart-icon {
    width: 30px; /* Ajuste o tamanho conforme necessário */
    height: 30px;
}